<h1>Calculus Master</h1>

<table class="table table-striped table-dark my-5">
    <thead>
        <tr>
            <th>Versione App</th>
            <th>Lezione di riferimento</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>1</td>
            <td>Lezione 2 - Virtualizzazione e IaaS</td>
        </tr>
    </tbody>
</table>

<p>Applicazione demo per laboratori di deploy su Google Cloud Platform.</p>